:root {
    --primary-color: #ff8133;
    --secondary-color: #ffd6b8;
    --text-color: #333;
    --background-color: #f9f9f9;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1, h2 {
    color: var(--primary-color);
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

form:hover {
    transform: translateY(-5px);
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #68ee29dc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}

button:hover {
    background-color: #e66f1c;
}

.payment-button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.815);
    animation: modalBackgroundFadeIn 0.3s;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    animation: modalContentFadeIn 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@keyframes modalBackgroundFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes modalContentFadeIn {
    from {opacity: 0; transform: translateY(-50px);}
    to {opacity: 1; transform: translateY(0);}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

#upiLink {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#upiLink:hover {
    background-color: #e66f1c;
}

#qrCode {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
}

#paymentOptions {
    margin-top: 2rem;
}