:root{
    --srividyaimg: url(media/srividya.jpeg);
    --annadanamimg: url(media/anna.jpg);
    --vidyadanam: url(media/Vidya\ Danam.jpg);
    --goshalaimg: url(media/newgoshalaimg.jpg);
    --vedapathashala: url(media/Vedapatashala\ anim\ image.jpg);
    --sanskritimg: url(media/sansskritimg3.2.png);
}

#slide2 {
    background-image: var(--annadanamimg);
    background-position: center 0%;
}
#slide3 { background-image: var(--vidyadanam);
 }
#slide4 {  background-image: var(--goshalaimg);  }
#slide5 {
    background-image: var(--vedapathashala);
}
#slide6 {
    background-image: var(--sanskritimg);
    background-size: cover;
}


#annadanambanner{
    background-image: var(--annadanamimg);
}

#goshalabanner{
    background-image: var(--goshalaimg);
}
#vidyabanner{
    background-image: var(--vidyadanam);
}
#vedabanner{
    background-image: var(--vedapathashala);
}
#sanskritbanner{
    background-image: var(--sanskritimg);
    width: 50%;
    margin-left: 25%;
}
   


.banner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
